# This is Git's per-user configuration file.

[core]
	excludesfile = /Users/Teespring11406/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	template = /Users/Teespring11406/.stCommitMsg

# user
[user]
	name = Bogdan Vitoc 
	email = bogdanvitoc@gmail.com
[credential]
    helper = osxkeychain
[credential "https://github.com"]
    username = bogidon

# lfs
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# diff
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

# merge
[merge]
	tool = Kaleidoscope
[mergetool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
	trustexitcode = true
[mergetool "sourcetree"]
	cmd = /Users/Teespring11406/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

# so much color
[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"