[submodule "oh-my-zsh"]
	path = external/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "bullet-train-oh-my-zsh-theme"]
	path = external/bullet-train-oh-my-zsh-theme
	url = https://github.com/caiogondim/bullet-train-oh-my-zsh-theme.git
[submodule "git-open"]
	path = external/git-open
	url = git@github.com:paulirish/git-open.git
[submodule "zsh-syntax-highlighting"]
	path = external/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "amix_vimrc"]
	path = external/amix_vimrc
	url = git@github.com:amix/vimrc.git
[submodule "gpakosz_tmux"]
	path = external/gpakosz_tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule "ModSimPy"]
	path = external/ModSimPy
	url = git@github.com:AllenDowney/ModSimPy.git
[submodule "z_jump-around"]
	path = external/z_jump-around
	url = git@github.com:rupa/z.git
[submodule "external/gimp-config"]
	path = external/gimp-config
	url = git@github.com:Bogidon/gimp-config.git
