[user]
	name = Bogdan Vitoc
	email = bog@bogdanvitoc.com
	signingkey = BDF750412486DE3B

[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	# you might want to do this locally:
	# editor = "'/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl' --wait"

[commit]
	gpgsign = true

[alias]
	# ignore/unignore changes to files
	hide = update-index --skip-worktree
	unhide = update-index --no-skip-worktree
	unhide-all = ! git hidden | xargs git update-index --no-skip-worktree
	hidden = ! git ls-files -v | grep '^S' | cut -c3- | sed 's/^/\"/' | sed 's/$/\"/'
	# interactive rebase up to the point at which your current head branched from <rev>
	tofork = "!f() { git rebase -i $(git merge-base --fork-point \"$1\"); }; f"
	
	# delete all but branches specified
	# argument of form: "branch1|branch2|branch3"
	delallbut = "!f() { git branch | egrep -v \"(\\b(master|dev|$1)\\b)\" | rev | cut -c 4- | rev | xargs -L 1 git branch -D; }; f"
	
	# delete all merged branches but those specified
	# argument of form: "branch1|branch2|branch3"
	delmergedbut = "!f() { git branch --no-color --merged | egrep -v \"(\\b(master|dev|$1)\\b)\" | xargs git branch -d; }; f"

	# pretty log
	lgm = log --graph --all --pretty=medium --decorate=short

	# ex-branch (get last Nth branch by last commit date)
	xbranch = "!f() { git branch --sort=-committerdate --format='%(refname:short)' | sed -n "${1:-1}p"; }; f"

[color]
	ui = always

[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"

[advice]
	detachedHead = false


[include]
	path = ~/.gitconfig_local

[url "git@github.com:"]
	insteadOf = https://github.com/

[init]
	defaultBranch = main

[pull]
	ff = only

[push]
	default = upstream
	autoSetupRemote = true
